<div class="home-container text-center">
  <h1 class="welcome-text text-danger">Wilkommen!</h1>

  <div class="row">
    <div class="col-md-4">
      <div class="step-box">
        <h2 class="text-danger">Schritt 1</h2>
        <p>Erstellen Sie unter dem Reiter ‘Projects’ ein neues Verzeichnis.</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="step-box">
        <h2 class="text-danger">Schritt 2</h2>
        <p>Innerhalb eines Projekts können beliebig viele Einträge erstellt und per Chat-Interface passende Positionen aus der Datenbank gesucht werden, um bei Zufriedenheit per 'Create Excel'-Button die Ergebnisse zu exportieren.</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="step-box">
        <h2 class="text-danger">Schritt 3</h2>
        <p>Begeben Sie sich zurück auf Ihre Projektübersicht und Laden Sie die markierte Position als Excel Datei herunter.</p>
      </div>
    </div>
  </div>
</div>
