<div class="sidebar d-flex flex-column bg-light text-dark">
  <h1>Hello, {{ user?.firstname }}</h1>


  <h5>Work Settings</h5>
  <ul class="nav flex-column mb-3">
    <li class="nav-item">
      <a class="nav-link"
         routerLink="/projects"
         [ngClass]="{'active': isProjectTabActive()}">
        Projects
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Favorites</a>
    </li>
  </ul>

  <hr class="divider" />

  <h5>Profile Settings</h5>
  <ul class="nav flex-column mb-3">
    <li class="nav-item">
      <a class="nav-link" href="#">Update Password</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="logout()">Log Out</a>
    </li>
  </ul>

  <div class="mt-auto">
    <footer class="text-center">
      <small>© 2024 Make it Happen</small>
    </footer>
  </div>
</div>
