<div class="container">
  <h2>Positions Einträge</h2>


  <!-- Anzeige, wenn keine Einträge vorhanden sind -->
  @if(entries.length === 0){
    <p>Es sind derzeit keine Einträge vorhanden. Erstellen Sie gerne Ihren ersten!</p>
  }

  <!-- Liste der Einträge, wenn vorhanden -->
  @if(entries.length > 0){
    @for(entry of entries; track $index){
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center" (click)="goToChat(entry.id)">

          <!-- Eintragsinformationen -->
          <div class="entry-details">
            <h5>{{ entry.index}}</h5>
            <p>{{ entry.entryName }}</p>
            <small class="text-muted">Erstellt am: {{ entry.createdAt }}</small>
          </div>

          <!-- Button-Gruppe für Aktionen (Bearbeiten, Löschen) -->
          <div class="btn-group">
            <!--  <button class="btn btn-primary btn-sm mr-2" (click)="editEntry(entry)">Bearbeiten</button>-->
            <button class="btn btn-danger btn-sm" (click)="deleteEntry(entry.id)">Löschen</button>
          </div>
        </li>
      </ul>
    }
  }

</div>
