<div class="modal-header">
  <h5 class="modal-title" id="createProjectModalLabel">Neues Projekt anlegen</h5>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>
<div class="modal-body">
  <form (ngSubmit)="submitCreateProject()">
    <div class="mb-3">
      <label for="projectName" class="form-label">Projektname</label>
      <input type="text" class="form-control" id="projectName" [(ngModel)]="newProjectName" name="projectName" placeholder="Projektname" required>
    </div>
    <div class="mb-3">
      <label for="projectDescription" class="form-label">Projektbeschreibung</label>
      <textarea class="form-control" id="projectDescription" [(ngModel)]="newProjectDescription" name="projectDescription" rows="3" placeholder="Projektbeschreibung" required></textarea>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">Abbrechen</button>
      <button type="submit" class="btn btn-success">Projekt erstellen</button>
    </div>
  </form>
</div>
