<div class="chat-container">
  <div class="chat-window">
    <div *ngFor="let message of messages">
      <div
        class="message-wrapper"
        [ngClass]="{'assistant-msg-container': message.sender === 'Assistant', 'user-msg-container': message.sender === 'User'}"
      >
        <div [ngClass]="{'assistant-msg': message.sender === 'Assistant', 'user-msg': message.sender === 'User'}">
          <strong>{{ message.sender }}</strong>
          <div>
            <span *ngIf="!message.isMarkdown">{{ message.text }}</span>
            <span *ngIf="message.isMarkdown" [innerHTML]="message.text"></span> <!-- For Markdown content -->
          </div>
        </div>
      </div>
    </div>

    <!-- Pending message or animation -->
    <div *ngIf="isPending" class="pending-message">
      <div class="spinner-border text-danger" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      {{ waitingMessage }}
    </div>
  </div>

  <div class="chat-input">
    <input
      type="text"
      [(ngModel)]="newMessage"
      class="form-control"
      [disabled]="isPending"
      placeholder="Type your message..."
      (keydown.enter)="sendMessage()"
    />
    <button class="btn btn-send" (click)="sendMessage()">
      Send
    </button>
  </div>
</div>
