.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 600px;
  background-color: #f2f2f2;
  padding: 10px;
  border: 1px solid #ccc;
}

.chat-window {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
}

.message-wrapper {
  display: flex;
  margin-bottom: 10px;
}

.assistant-msg-container {
  justify-content: flex-start; /* Nachricht des Assistenten nach links */
}

.user-msg-container {
  justify-content: flex-end; /* Nachricht des Users nach rechts */
}

.chat-input {
  display: flex;
}

.chat-input input {
  flex-grow: 1;
  margin-right: 10px;
}

.assistant-msg {
  background-color: #C00D0D;
  color: white;
  padding: 10px;
  border-radius: 10px;
  max-width: 400px;
  text-align: left;
}

.user-msg {
  background-color: #d9d9d9;
  color: black;
  padding: 10px;
  border-radius: 10px;
  max-width: 400px;
  text-align: right;
}

.pending-message {
  text-align: center;
  color: #C00D0D;
  margin-top: 10px;
}
.btn-send{
  color: white;
  background-color: #C00D0D;
}
strong {
  display: block;
  margin-bottom: 5px; /* Abstand zwischen dem Namen und der Nachricht */
}
